@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

/* Body */
body {
    background-color: black;
    color: oldlace;
    font-family: 'Playwrite Deutschland Grundschrift', sans-serif;
}

/* Home Page */
h1, h2, h3 {
    text-align: center;
}

#rules {
    background-color:  oldlace;
    margin: 5px 5px;
    padding-top: 2px;
    padding-bottom: 2px;

}

#rules p {
    color: black;
    text-align: center;
}

#name {
    text-align: center;
}

#username {
    margin-top: 5px;  
    height: 30px;  
    width: 200px;
    background-color: oldlace;
}

.play {
    margin-top: 30px;
    text-align: center;
}

.btn {
    color: oldlace;
}

/* Game page */
.choices {
    margin: 2px 2px;
    background-color: oldlace;
    height: 80px;
    display: flex;
    border-radius: 8px;
    
}
.question-number {
    border-right: 2px solid black;
    width: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}
.answer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
#count-container {
    color: oldlace;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#count-questions {
    margin-right: 50px;
}

.home {
    margin-top: 30px;
    text-align: center;
}
/* End page */
#results, #score {
    color: oldlace;
    text-align: center;
}
#score {
    margin-bottom: 100px;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){

    h1, h2{
        margin-top: 200px; 
    }

    #rules, #game{
        margin: 50px 100px;
    }

    .play{
        margin-top: 100px;
    }
    .answer:hover {
        background-color: wheat;
    }

    /* Game page */
.question-number {
    height: 80px;
}
/* Game page */
.question-number {
    width: 80px;
}

}